/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container-fluid{
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}
.sub-header{
    list-style: none;
    border-top: 1px solid #c5c5c5;
    padding: 10px;
    border-bottom: 4px solid #c5c5c5;
}
.sub-header li{
    display: inline-block;
}
.items{
    /* @todo check*/
    width: 100%;  
}
.title-items{
    width: 64%;
}
.item-footer{
    bottom:40px;
}
.item-footer a{
    padding: 0 7px 0 7px;
    border-right: 1px solid #c5c5c5;
    font-size: 12px;
    color: #c5c5c5; 
}
.item-footer a:last-child{
    border: none;   
}
.item-footer a:first-child{
    padding-left: 0;
}
.footer-border{
    border-bottom: 1px solid #c5c5c5;
}
.cart-product{
    margin-top: 30px;
}
.product-qty .qty{
    padding: 10px;
    border: 1px solid #c5c5c5;
}
.item-title{
    font-weight: bold;
    text-transform: uppercase;
}
.grey{
    color: #c5c5c5;
}

/*.product-size, .product-qty, .product-price{
    position: absolute;
    top: 0;
}*/
/*.product-size{
    left: 64%;
}
.product-qty{
    left: 74%;
}
.product-price{
    left: 84%;
}*/


/*.support{
    width: 25%;
    float: left;
    display: inline-block;
}
.coupon-section{
    width: 60%;
    display: inline-block;
    float: left;
    margin-left: 15%;
    margin-bottom: 2%;
}
.footer-sectioin{
    margin-top: 30px;
}
.title-promo{
    display: inline-block;
    width: 25%;
}
.coupon{
    border-bottom: 5px solid #c5c5c5;
    padding-bottom: 30px;
}
.coupon-desc{
    display: inline-block;
    float: right;
    margin-left: 5%;
}
.coupon-info{
    padding: 15px 0;
}
.coupon-info .left, .total .left{
    float: left;
}
.coupon-info .right, .total .right{
    float: right;
}
.total{
    clear: both;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #c5c5c5;
    border-bottom: 5px solid #c5c5c5;
    overflow: hidden;
}
.total small{
    display: inline-block;
}
.uppercase{
    text-transform: uppercase;
}
#p-coupon{
    padding:7px;
}
#apply-coupons{
    padding: 5px 15px;
    margin-left: 15px;
}
.checkout-container{
    padding-bottom: 30px;
    margin-left: 50%;
}
.right{
    float: right;
}
.left{
    float: left;
}
.continue-shopping{
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
}
.checkout{
    padding: 10px;
}*/


.support, .coupon-section{
   padding-left: 0 !important;
   padding-right: 0 !important;
   padding-top: 35px;
}
aside a{
    text-decoration: underline;
    color: #000;
}
.promo-section{
    border-bottom: 5px solid #c5c5c5;
    padding-bottom: 34px;
    margin-bottom: 15px;
    padding-left: 0 !important;
}
.title-promo{
    padding-left: 0 !important;
}
.input-coupon{
    line-height: 34px;
}
.text-left{
    text-align: left;
    padding-left: 0 !important;
}
.text-right{
    text-align: right;
}
.coupon-info{
    padding: 12px 0;
    padding-left: 0 !important;
}
.total{
    padding-left: 0 !important;
    border-bottom: 5px solid #c5c5c5;
    padding: 30px 0;
    border-top: 1px solid #c5c5c5;
    margin-top: 30px;
}
.checkout-container{
    margin: 30px 0;
}
@media screen and (max-width: 764px) {
    .container-fluid h1{
        font-size: 17px;
        font-weight: bold;
    }
    h2.visible-xs{
        font-size: 16px !important;
    }
    .item-footer{
        bottom:-10px;
        padding-bottom: 25px;
    }
    .item-footer a{
        text-align: center;
    }
    .product-size small{
        display: inline-block !important;
    }
    .product-qty small{
        display: inline-block !important;
    }
    .product-qty .qty{
        padding: 5px;
    }
    .item-desc p{
        margin-bottom: 0;
    }
    .coupon-info{
        font-size: 12px;
    }
    .title-promo{
        text-align: center;
    }
    .input-coupon{
        margin-top: 10px;
    }
}
/*@media screen and (max-width: 764px) {
   .items{
    width: 100%;
   }
   .cart-img{
    width: 151px;
    padding-right: 20px;
   }
   .sub-header{
    border-top: none;
   }
   .sub-header li{
    display: none;
   }
   .cart-img{
    float: left;
   }
   .items figcaption{
    display: inline;
   }
  
   .size{
    width: inherit;
   }
   span.size::before{
    content: "SIZE: ";
    font-size: 10px;
    width: inherit;
   }
   .qty{
    display: block;
    width: inherit;
    text-align: left;
   }
   .qty::before{
    content: "QTY: ";
    font-size: 10px;
   }
   .product-size{
    left: 18%;
    top: 40%;
   }
   .items figcaption{
    float: none;
   }
   .product-qty{
    left: 51%;
    top: 50%;
   }
   .product-price{
    left: 49%;
    top: 69%;
   }
}*/

/*@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
@media screen and (max-width: 699px) and (min-width: 520px) {
    ul li a {
        padding-left: 30px;
        background: url(email-icon.png) left center no-repeat;
    }

*/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
